<div class="nav-sector-controls" [ngClass]="{'nav-sector-controls-expanded': exportMode}" [hidden]="!currentUser.isAdmin">
    <div class="raw-xml-switch" [hidden]="!exportMode">
        <h4>Raw</h4>
        <label class="checkbox-switch">
            <input type="checkbox" [(ngModel)]="isXml">                
            <span class="slider round"></span>
        </label>
        <h4>Xml</h4>
    </div>
    <span href="#" class="btn btn-icon" id="btn-import-books" (click)="uploadFile.click()">
        <span class="icon ic-import"></span>
    </span>
    <input type="file" name="upload" #uploadFile (change)="importChange(uploadFile.files)" id="uploadFile" style="display: none" />
    <span class="btn btn-icon" href="#">
        <span class="icon ic-accept" [hidden]="!exportMode" (click)="tryExportBooks()"></span>
        <span class="icon ic-export" [hidden]="exportMode" (click)="switchExportMode()"></span>
    </span>
    <span class="btn btn-icon lowered"[hidden]="!exportMode">       
        <span class="icon ic-close" (click)="switchExportMode()"></span>
    </span>
    <a class="btn btn-icon" [routerLink]="['/books/put']">
        <span class="icon ic-add"></span>
    </a>
</div>
<div class="windows-container">
    <div class="windows-grid">        
        <div [ngClass]="{'disabled': busyId === book.id}" class="window window-hovered-shadow" *ngFor="let book of books">
            <div class="window-header">                    
                <div class="window-header-icon"><span class="icon ic-book"></span></div>
                <div class="window-header-content"><h4 class="entity">{{joinAuthors(book.authors)}} - {{book.title}}</h4></div>                    
                <div class="window-header-control" [hidden]="!currentUser.isAdmin">
                    <span class="btn btn-icon" (click)="editBookForm(book.id)">
                        <span class="icon ic-edit"></span>
                    </span>
                        
                </div>
                <div class="window-header-control" [hidden]="!currentUser.isAdmin">
                    <span class="btn btn-icon" (click)="tryRemoveBook(book.id)">
                        <span class="icon ic-remove"></span>
                    </span>
                </div>
                <div class="window-header-control" [hidden]="!exportMode">
                    <input type="checkbox" class="checkbox-default" id="cb-sellected-{{book.id}}" [(ngModel)]="book.selected">
                    <label for="cb-sellected-{{book.id}}" class="checkbox-default-label"></label>
                </div>
            </div>
            <div class="window-content entity-content">                
                <div class="entity-photo" [ngStyle]="{ 'background-image': 'url(' + book.photoPath + ')'}">                    
                </div>              
                <table>  
                    <tr>
                        <th><span>Title:</span></th>
                        <td colspan="2"><span>{{book.title}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Author:</span></th>
                        <td colspan="2"><span>{{joinAuthors(book.authors)}}</span></td>
                    </tr>
                    <tr><td><br/></td></tr>
                    <tr>
                        <th><span>Genre:</span></th>
                        <td colspan="2"><span>{{book.genre}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Year:</span></th>
                        <td colspan="2"><span>{{book.year}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Pages:</span></th>
                        <td colspan="2"><span>{{book.pages}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Available:</span></th>
                        <td colspan="2"><span>{{book.amount}}</span></td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th><span>Price:</span></th>
                        <td colspan="2">
                            <span>{{book.price}}$</span>
                        </td>
                        <td>
                            <a class="btn btn-icon btn-buy" (click)="addToBasket(book.id)">
                                <span class="icon ic-buy"></span>
                            </a>
                        </td>
                    </tr>
                </table>                                                                               
            </div>            
        </div>
    </div>
</div>
