<header class="header-bar">
    <div class="header-title">       
    </div>
    <div class="header-bar-menu-container">
        <ul id="header-bar-menu">
            <li [hidden]="!currentUser.isVisitor">
                <span>
                    <a [routerLink]="['/signin']">Sign in</a>
                </span>
            </li>
            <li [hidden]="currentUser.isVisitor">
                <span>Hello, {{currentUser.login}}!</span>
            </li>
        </ul>
    </div>
</header>

<div class="sidebar">
    <div class="sidebar-header">
        <span class="company">Anuitex</span >       
    </div>
    <div class="sidebar-subheader">
        <span class="title">Library</span>
    </div>
    <div class="sidebar-items-container">
        <h4 class="label">Main</h4>
        <ul class="section-selector">
            <li *ngFor="let section of sections" [ngClass]="{'active': currentSection == section}" (click)="setCurrentSection(section)"><a [routerLink]="section.route">{{section.name}}</a></li>            
        </ul>
        <h4 class="label">Sell</h4>
        <ul class="section-selector">
            <li><a href="#" >Basket ()</a></li>
        </ul>
        <h4 class="label">Account</h4>
        <ul class="section-selector">
            <li [hidden]="!currentUser.isVisitor"><a [routerLink]="['/signin']">Sign in</a></li>
            <li [hidden]="!currentUser.isVisitor"><a [routerLink]="['/signup']">Sign up</a></li>
            <li [hidden]="currentUser.isVisitor"><a (click)="signOut()" >Sign out</a></li>
        </ul>

        <h5>All rights reserved. <br>Tyner©2017</h5>
    </div>
</div>

<div class="body-content"><router-outlet></router-outlet></div> 