<div class="windows-container">
    <div class="windows-grid">        
        <div class="window centered window-put">
            <div class="window-header">
                <div class="window-header-icon">
                    <span class="icon ic-addjournal"></span>
                </div>                
                <div class="window-header-content">
                    <h4 [hidden]="!isEdit">Edit journal</h4>
                    <h4 [hidden]="isEdit">Create journal</h4>
                </div>                
            </div>
            <div class="window-content">                                                           
                <form name="journalForm">
                    <table class="form-table">
                        <tr>
                            <td>                                    
                                <div class="choose-photo" (click)="uploadFile.click()" [ngStyle]="{ 'background-image': 'url(' + currentPhotoPath + ')'}" id="journal-photo">
                                    <h5>Click for choose photo</h5>
                                </div>
                            </td>
                            <td>
                                <label>Title</label>
                                <input type="text" placeholder="Enter title" name="title" [(ngModel)]="currentJournal.title" required/>                                    
                                <label>Amount</label>
                                <input type="text" placeholder="Enter amount" name="amount" [(ngModel)]="currentJournal.amount" required/>
                                <label>Price</label>
                                <input type="text" placeholder="Enter price" name="price" [(ngModel)]="currentJournal.price" required/>
                            </td>
                        </tr>    
                        <tr>
                            <td colspan="2" class="td-divider">
                                <hr/>
                                <label>Additional info</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="create-form-table">
                                    <tr>
                                        <th><label>Date</label></th>
                                        <th><label>Pages</label></th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" placeholder="Enter date" name="date" [(ngModel)]="currentJournal.date" required/></td>
                                        <td><input type="text" placeholder="Enter pages" name="pages" [(ngModel)]="currentJournal.pages" required/></td>
                                    </tr>
                                    <tr>
                                        <th><label>Periodicity</label></th>
                                        <th><label>Theme</label></th>
                                    </tr>
                                    <tr>                                            
                                        <td><input type="text" placeholder="Enter periodicity" name="periodicity" [(ngModel)]="currentJournal.periodicity" required /></td>
                                        <td><input type="text" placeholder="Enter theme" name="theme" [(ngModel)]="currentJournal.theme" required/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                                                                                                
                    <input type="file" name="upload" #uploadFile (change)="uploadPhotoChange(uploadFile.files)" id="uploadFile" style="display: none"/>
                   
                    <input type="submit" id="addJournalBtn" class="btn btn-colored" value="Complete" (click)="tryAddJournal()" [hidden]="isEdit" [disabled]="!photoUploaded">
                    <input type="submit" id="editJournalBtn" class="btn btn-colored" value="Complete" (click)="tryEditJournal()" [hidden]="!isEdit" [disabled]="!photoUploaded">
                </form>
            </div>
        </div>
    </div>
</div>