<div class="windows-container">
    <div class="windows-grid">        
        <div class="window centered window-put">
            <div class="window-header">
                <div class="window-header-icon">
                    <span class="icon ic-addnewspaper"></span>
                </div>                
                <div class="window-header-content">
                    <h4 [hidden]="!isEdit">Edit newspaper</h4>
                    <h4 [hidden]="isEdit">Create newspaper</h4>
                </div>                
            </div>
            <div class="window-content">                                                           
                <form name="newspaperForm">
                    <table class="form-table">
                        <tr>
                            <td>                                    
                                <div class="choose-photo" (click)="uploadFile.click()" [ngStyle]="{ 'background-image': 'url(' + currentPhotoPath + ')'}" id="newspaper-photo">
                                    <h5>Click for choose photo</h5>
                                </div>
                            </td>
                            <td>
                                <label>Title</label>
                                <input type="text" placeholder="Enter title" name="title" [(ngModel)]="currentNewspaper.title" required/>                                    
                                <label>Amount</label>
                                <input type="text" placeholder="Enter amount" name="amount" [(ngModel)]="currentNewspaper.amount" required/>
                                <label>Price</label>
                                <input type="text" placeholder="Enter price" name="price" [(ngModel)]="currentNewspaper.price" required/>
                            </td>
                        </tr>    
                        <tr>
                            <td colspan="2" class="td-divider">
                                <hr/>
                                <label>Additional info</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="create-form-table">
                                    <tr>
                                        <th><label>Date</label></th>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" placeholder="Enter date" name="date" [(ngModel)]="currentNewspaper.date" required/></td>                                        
                                    </tr>
                                    <tr>
                                        <th><label>Periodicity</label></th>                                        
                                    </tr>
                                    <tr>                                            
                                        <td><input type="text" placeholder="Enter periodicity" name="periodicity" [(ngModel)]="currentNewspaper.periodicity" required /></td>                                        
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                                                                                                
                    <input type="file" name="upload" #uploadFile (change)="uploadPhotoChange(uploadFile.files)" id="uploadFile" style="display: none"/>
                   
                    <input type="submit" id="addNewspaperBtn" class="btn btn-colored" value="Complete" (click)="tryAddNewspaper()" [hidden]="isEdit" [disabled]="!photoUploaded">
                    <input type="submit" id="editNewspaperBtn" class="btn btn-colored" value="Complete" (click)="tryEditNewspaper()" [hidden]="!isEdit" [disabled]="!photoUploaded">
                </form>
            </div>
        </div>
    </div>
</div>