<div class="nav-sector-controls" [hidden]="!currentUser.isAdmin">
    <a href="#" class="btn btn-icon" id="btn-import-books" (click)="showUploadDialog()">
        <span class="icon ic-import"></span>
    </a>
    <a class="btn btn-icon" href="#" (click)="export()">
        <span class="icon ic-export"></span>
    </a>
    <a class="btn btn-icon" [routerLink]="['/books/put']" (click)="showAddBookDialog()">
        <span class="icon ic-add"></span>
    </a>
</div>
<div class="windows-container">
    <div class="windows-grid">        
        <div [ngClass]="{'disabled': idToRemove === book.id}" class="window window-hovered-shadow" *ngFor="let book of books">
            <div class="window-header">
                    
                <div class="window-header-icon"><span class="icon ic-book"></span></div>
                <div class="window-header-content"><h4>{{book.author}} - {{book.title}}</h4></div>
                    
                <div class="window-header-control" [hidden]="!currentUser.isAdmin">
                    <span class="btn btn-icon" (click)="showEditBookDialog(book)">
                        <span class="icon ic-edit"></span>
                    </span>
                        
                </div>
                <div class="window-header-control" [hidden]="!currentUser.isAdmin">
                    <span class="btn btn-icon" (click)="tryRemoveBook(book.id)">
                        <span class="icon ic-remove"></span>
                    </span>
                </div>

            </div>
            <div class="window-content entity-content">                
                <div class="entity-photo" [ngStyle]="{ 'background-image': 'url(' + book.photoPath + ')'}">                    
                </div>              
                <table>  
                    <tr>
                        <th><span>Title:</span></th>
                        <td><span>{{book.title}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Author:</span></th>
                        <td><span>{{book.author}}</span></td>
                    </tr>
                    <tr><td><br/></td></tr>
                    <tr>
                        <th><span>Genre:</span></th>
                        <td><span>{{book.genre}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Year:</span></th>
                        <td><span>{{book.year}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Pages:</span></th>
                        <td><span>{{book.pages}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Available:</span></th>
                        <td><span>{{book.amount}}</span></td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <th><span>Price:</span></th>
                        <td>
                            <span>{{book.price}}$</span>
                        </td>
                        <td>
                            <a class="btn btn-icon btn-buy" (click)="addToBasket('Book',book)">
                                <span class="icon ic-buy"></span>
                            </a>
                        </td>
                    </tr>
                </table>

                                
               
                
                
            </div>            
        </div>
    </div>
</div>
